 <p class="title is-4 is-">Baby Shower Game</p>

 <body>
        <section class="block ">
                    <p class="title is-1 is-centered">See what other guests have voted!</p>
        </section>
    </body>    

<div class="tile">
    <article class= "block media box">
        <figure class="media-left">
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong> {{guest.name}} John Smith</strong> <small>@johnsmith1{{guest-username}}</small> 
              <br>
              <table class="table is-striped">
                <tbody>
                    <td>gender: {{voted-boy or voted-girl}}</td>
                    <td>weight: {{voted-weight}}</td>
                    <td>date of birth: {{voted-date}}</td>
                </tbody>
              </table>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
            </div>
          </nav>
        </div>
    </article>

    <article class= "block media box">
        <figure class="media-left">
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong> {{guest-name}} John Smith</strong> <small>@johnsmith1{{guest-username}}</small> 
              <br>
              <table class="table is-striped">
                <tbody>
                    <td>gender: {{voted-boy or voted-girl}}</td>
                    <td>weight: {{voted-weight}}</td>
                    <td>date of birth: {{voted-date}}</td>
                </tbody>
              </table>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
            </div>
          </nav>
        </div>
    </article>
</div>